<app-header titulo="Cumpleaños del Grupo"></app-header>

<ion-content >
    <ion-list>
        <ion-list-header>
            <ion-label>Aquí podremos ver la lista de cumpleaños del mes</ion-label>
            <ion-button>Ver todos</ion-button>
        </ion-list-header>
        <ion-item>
            <ion-label>Luis Mayta</ion-label>
            <ion-chip>
                <ion-icon name="pin" color="primary"></ion-icon>
                <ion-label>21 mayo</ion-label>
            </ion-chip>
        </ion-item>
        <ion-item>
            <ion-label>Luis Mayta</ion-label>
            <ion-chip>
                <ion-icon name="pin" color="primary"></ion-icon>
                <ion-label>21 mayo</ion-label>
            </ion-chip>
        </ion-item>
        <ion-item>
            <ion-label>Luis Mayta</ion-label>
            <ion-chip>
                <ion-icon name="pin" color="primary"></ion-icon>
                <ion-label>21 mayo</ion-label>
            </ion-chip>
        </ion-item>
    </ion-list>
</ion-content>
