<app-header titulo="Cumpleaños del Grupo"></app-header>

<ion-content >
    <div class="imagen-header" style="background-image: url('../assets/icon/cumples.jpg')"></div>
    <ion-card>
        <ion-card-header>
            <ion-card-title><strong>Los cumpleaños de este mes del grupo son</strong></ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ul>
                <li *ngFor="let item of hermanos"> {{ item.nombre_completo }} ( {{ item.cumple }})</li>
            </ul>
        </ion-card-content>
    </ion-card>
    <ion-item>
        <ion-label>Meses</ion-label>
        <ion-select placeholder="Elegir un mes" #C (ionChange)="onChange(C.value)">
          <ion-select-option *ngFor="let mes of meses" value="{{ mes.valor }}"> {{ mes.nombre }}</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Cumpleaños Buscados</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ul>
                <li *ngFor="let item of busqueda"> {{ item.nombre_completo }} ( {{ item.cumple }})</li>
            </ul>
        </ion-card-content>
    </ion-card>
</ion-content>
