<app-header titulo="Sobre Emanuel"></app-header>
<div class="imagen-header" style="background-image: url('{{ emanuel.imagen }}')"></div>
<ion-content>
<ion-card>
  <ion-card-header class="ion-text-center">
    <ion-card-title ><strong>El grupo de oración Emanuel</strong></ion-card-title>
  </ion-card-header>
  <ion-card-content class="ion-text-justify" [innerHTML]="emanuel.contenido">
  </ion-card-content>
</ion-card>
<br>
<ion-card color="tertiary">
  <ion-card-header>
    <ion-card-title>Visión y Misión</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-text >
      <p [innerHTML]="emanuel.vision_mision"></p>
    </ion-text>
  </ion-card-content>
</ion-card>
<ion-card color="success">
  <ion-card-header>
    <ion-card-title>Servicios que realizamos</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-text >
      <p [innerHTML]="emanuel.adicional"></p>
    </ion-text>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title><strong>Historia del Grupo</strong></ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-text >
      <p [innerHTML]="emanuel.historia"></p>
    </ion-text>
  </ion-card-content>
</ion-card>



</ion-content>
