<app-header titulo="Dios con nosotros"></app-header>

<ion-content>
<ion-card color="medium">
  <ion-card-header>
    <ion-card-title>Emanuel</ion-card-title>
  </ion-card-header>
  <ion-card-content class="ion-text-justify">
    Es un grupo de personas que se reunen en torno a Cristo, movidos y dirigidos guiados por el Espiritu Santo para compartir la fe y la vivencia cristiana, alabando a Dios Padre, Transformando sus vidas y edificandose mutuamente a imagen de Jesucristo y de su Evangeliio. Sus miembros deben tender hacia una madurez que los lleve a un compromiso mayor de pertenencia entre ellos y a la definicion de su apostolado (Hch 2, 42)
  </ion-card-content>
</ion-card>
<br>
<ion-card color="tertiary">
  <ion-card-header>
    <ion-card-title>Coordinación general del grupo</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    {{ emanuel.coordinacion }}
  </ion-card-content>
</ion-card>



</ion-content>
