<ion-header >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="MainMenu"></ion-menu-button>
      <ion-thumbnail>
        <img src="../assets/images/logo.png" width="100px" />
      </ion-thumbnail>
    </ion-buttons>
    <ion-title class="ion-text-left" large="small"><h1>G.O. EMANUEL</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <h2>Temas de los sabados</h2>
  <ion-slides [options]="slideOpts">
    <ion-slide *ngFor="let item of temas">
      <ion-card>
        <img [src]="item.enlace|imgyoutube">
        <ion-card-header>
          <ion-card-title><strong>{{ item.titulo }}</strong></ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <h2>Cumpleaños del mes</h2>
  <ion-slides [options]="slideOpts2">
    <ion-slide *ngFor="let item of cumples">
      <div>
        <img class="slide-img-alto" src="../assets/images/b2.jpg">
        <span class="ja-font-size-15">{{ item.nombre_completo }}</span><br>
        <span class="ja-font-size-15">{{ item.cumple }}</span>
      </div>
    </ion-slide>
  </ion-slides>
  <h2>Actividades del Mes</h2>
  <ion-list>

    <ion-item *ngFor="let item of calendario">
      <ion-avatar slot="start" class="ja-avatar-size-60">
        <img src="../assets/icon/calendario.png">
      </ion-avatar>
      <ion-label>
        <h2>{{ item.titulo }}</h2>
        <h3>{{ item.fecha }}</h3>
        <p>Evento de la Renovacion Carismatica</p>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
