<ion-header >
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button menu="MainMenu" autoHide="false"></ion-menu-button>
      <ion-thumbnail>
        <img src="../assets/images/logo.png" width="100px" />
      </ion-thumbnail>
    </ion-buttons>
    <ion-title class="ion-text-left title-header"><h1>G.O. EMANUEL</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color="medium" *ngIf="swC">
    <ion-card-header>
      <ion-card-title>Cronograma del sabado </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let item of cronograma">
        <ion-label>{{ item.hora }}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card color="{{ aviso.color }}" *ngFor="let aviso of avisos">
    <ion-card-header>
      <ion-card-subtitle>{{ aviso.tipo }}</ion-card-subtitle>
      <ion-card-title>{{ aviso.titulo }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ aviso.descripcion }}
      <p [innerHTML]="aviso.html"></p>
    </ion-card-content>
  </ion-card>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" size-sm="4" size-lg="2">
        <ion-card routerLink="/emanuel" color="tertiary">
          <ion-card-content class="ion-text-center">
            <ion-icon slot="start" name="add" class="my-font-80"></ion-icon>
            <br>
            <ion-text color="light" class="my-font-15">
              Emanuel
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-sm="4" size-lg="2">
        <ion-card routerLink="/temas" color="tertiary">
          <ion-card-content class="ion-text-center">
            <ion-icon slot="start" name="layers" class="my-font-80"></ion-icon>
            <br>
            <ion-text color="light" class="my-font-15">
              Temas
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-sm="4" size-lg="2">
        <ion-card routerLink="/cumples" color="tertiary">
          <ion-card-content class="ion-text-center">
            <ion-icon slot="start" name="gift" class="my-font-80"></ion-icon>
            <br>
            <ion-text color="light" class="my-font-15">
              Cumpleaños
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-sm="4" size-lg="2">
        <ion-card routerLink="/hermanos" color="tertiary">
          <ion-card-content class="ion-text-center">
            <ion-icon slot="start" name="people" class="my-font-80"></ion-icon>
            <br>
            <ion-text color="light" class="my-font-15">
              Hermanos
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-sm="4" size-lg="2">
        <ion-card routerLink="/calendario" color="tertiary">
          <ion-card-content class="ion-text-center">
            <ion-icon slot="start" name="calendar" class="my-font-80"></ion-icon>
            <br>
            <ion-text color="light" class="my-font-15">
              Calendario
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-sm="4" size-lg="2">
        <ion-card routerLink="/zoom" color="tertiary">
          <ion-card-content class="ion-text-center">
            <ion-icon slot="start" name="arrow-redo" class="my-font-80"></ion-icon>
            <br>
            <ion-text color="light" class="my-font-15">
              Enlaces
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-sm="4" size-lg="2">
        <ion-card routerLink="/organizacion" color="tertiary">
          <ion-card-content class="ion-text-center">
            <ion-icon slot="start" name="bookmarks" class="my-font-80"></ion-icon>
            <br>
            <ion-text color="light" class="my-font-15">
              Organización
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  

</ion-content>
