<ion-header >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="MainMenu" autoHide="false"></ion-menu-button>
      <ion-thumbnail>
        <img src="../assets/images/logo.png" width="100px" />
      </ion-thumbnail>
    </ion-buttons>
    <ion-title class="ion-text-left" large="small"><h1>G.O. EMANUEL</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <h5>Temas de los sabados</h5>
  <ion-slides [options]="slideOpts">
    <ion-slide *ngFor="let item of temas; let i=index" (click)="RedirigeTema(item.titulo,item.enlace)" >
      <ion-card>
        <img [src]="item.enlace|imgyoutube">
        <ion-card-header>
          <ion-card-title><strong>{{ item.titulo }}</strong></ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <div class="mycontainer-blue ion-padding">
    <h5><strong>Cumpleaños del mes</strong></h5>
    <p>Lista de los cumpleaños del mes</p>
    <ion-slides [options]="slideOpts2">
      <ion-slide *ngFor="let item of cumples">
        <div>
          <img class="slide-img-alto" src="{{ item.imagen }}">
          <span class="ja-font-size-15">{{ item.nombre_completo }}</span><br>
          <span class="ja-font-size-15">{{ item.cumple }}</span>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <h5>Actividades mas próximas</h5>
  <ion-list>

    <ion-item *ngFor="let item of calendario">
      <ion-avatar slot="start" class="ja-avatar-size-60">
        <img [src]="item.tipo_evento|imgcalendario">
      </ion-avatar>
      <ion-label>
        <ion-title size="small"><strong>{{ item.titulo }}</strong></ion-title>
        <ion-title size="small">{{ item.fecha }}</ion-title>
        <ion-title size="small" color="danger">{{ item.resumen }}</ion-title>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
