<app-header titulo="Donaciones"></app-header>

<ion-content>
    <div class="imagen-header" style="background-image: url('../assets/icon/donaciones.jpg')"></div>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Dar con corazón</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Para el apoyo de nuestros hermanos y para el sostenimiento del grupo los miembros hacemos donaciones en la siguiente cuenta, todo el dinero ingresado al grupo es administrado por la Tesorera que es la <strong>hna Mirian Villegas</strong> y avalado por los servidores.
        </ion-card-content>
    </ion-card>
    <ion-card color="danger">
        <ion-card-content>
            <ion-label>Cuenta para El grupo de Oración</ion-label>
            <p>{{ c1[0] }}</p> 
            <p>{{ c1[1] }}</p>
            <h1 style="color: white;">{{ c1[2] }}</h1>
        </ion-card-content>
    </ion-card>
    <ion-card color="primary" *ngIf="cnt>1">
        <ion-card-content>
            <ion-label>Cuenta para apoyo de  los hnos con Covid y otra ayuda</ion-label>
            <p>{{ c2[0] }}</p> 
            <p>{{ c2[1] }}</p>
            <h1 style="color: white;">{{ c2[2] }}</h1>
        </ion-card-content>
    </ion-card>
</ion-content>
