<app-header titulo="Nuestra Espiritualidad"></app-header>

<ion-content>
    <div class="imagen-header" style="background-image: url('../assets/icon/espiritualidad.jpg')"></div>
    <ion-card>
        <ion-card-header>
            <ion-card-title><strong>El grupo de oración Emanuel tiene la espiritualidad carismática</strong></ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-justify">
            <p>La espiritualidad es el estilo de vida que tiene un cristiano en comunion con La Santa Iglesia Católica.</p>
            <p>La espiritualidad carismática consiste en el uso de los carismas recibidos el día de nuestro bautismo. Estos se fortalecen  en la vida diaria y en el servicio teniendo una vida en comunión con Cristo.. </p>
        </ion-card-content>
    </ion-card>
</ion-content>
