<app-header titulo="Temas de los Sábados"></app-header>

<ion-content >
  <ion-list>
      <ion-list-header>
          <ion-label>Aquí podremos ver los temas realizados en el grupo y subidos al Youtube</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let item of recursos; let i=index" (click)="RedirigeTema(item.titulo,item.enlace)">
          <ion-icon slot="start" name="book"></ion-icon>
          <ion-label>{{ item.titulo }}</ion-label>
      </ion-item>
  </ion-list>
</ion-content>
