<ion-content >
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <form (ngSubmit)="login(FormLogin)" #FormLogin="ngForm">
          <ion-grid fixed>
            <ion-row>
              <ion-col>
                <img src="../assets/icon/profile.png" class="wm-centrar-img" />
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-list>
                  <ion-item>
                    <ion-label position="floating">Email</ion-label>
                    <ion-input [(ngModel)]="Usuario.email" name="email" type="email" required ></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label position="floating">Password</ion-label>
                    <ion-input [(ngModel)]="Usuario.password" name="password" type="password" required></ion-input>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-button type="submit" color="tertiary" shape="round">
                  Ingresar
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
