<app-header titulo="Lista de Hermanos"></app-header>

<ion-content >
    <ion-list>
        <ion-list-header>
            <ion-label>Aquí podremos ver la lista de hermanos del grupo</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let item of hermanos">
            <ion-avatar slot="start">
                <img [src]="item.imagen|noimagen" />
            </ion-avatar>
            <ion-label>
                <ion-text color="primary">
                    <ion-label>{{ item.nombres }} {{ item.apellidos }}</ion-label>
                </ion-text>
                <p>{{ item.telefonos }} | {{ item.email }}</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
