<app-header titulo="Organización"></app-header>

<ion-content>
  <div class="imagen-header" style="background-image: url('../assets/icon/organizacion.jpg')"></div>
<ion-card >
  <ion-card-header>
    <ion-card-title><strong>El grupo de Oración emanuel se organiza de la siguiente manera</strong></ion-card-title>
  </ion-card-header>
  <ion-card-content class="ion-text-justify">
    <p>El grupo de oración está conformado por hermanos que buscan su crecimiento espiritual. Es por ello que está organizado por: responsables, servidores y la asamblea. 
    </p><p> El responsable es elegidos de tres postulantes bajo discernimiento y oración a cargo del responsable zonal y el diocesano de la RCC.  Los servidores son elegidos por el responsable en oración y discernimiento . 
    </p><p> Tanto los responsables como los servidores tienen la tarea de pastorear a los hermanos con el fin de ayudarlos en su crecimiento espiritual para lo cual recurren a la oración como principal herramienta. Ellos también se encargan de discernir los temas que necesitan los hermanos para su encuentro con Cristo y su formación integral.</p>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title><strong>Equipo de Coordinación</strong></ion-card-title>
  </ion-card-header>
  <ion-card-content [innerHTML]="contenido">
  </ion-card-content>
</ion-card>
<!-- Servicios -->


</ion-content>
