<app-header titulo="Organización"></app-header>

<ion-content>
<ion-card>
  <ion-card-content>
    Actualmente el grupo de oración se organiza a travez de los siguientes servicios.
  </ion-card-content>
</ion-card>
<!-- Servicios -->
<!-- Intercesion -->
<ion-card  color="danger">
  <ion-card-header>
    <ion-card-title>Servicio de Intercesión</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Son hermanos que están llamados a ponerse en la brecha ante Dios para favor de la humianidad; la intercesion es la oración por los demás, dirigida con el poder del Espiritu Santo.
  </ion-card-content>
</ion-card>
<!-- Formacion -->
<ion-card  color="danger">
  <ion-card-header>
    <ion-card-title>Servicio de Formación</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Son hermanos que están llamados a organizar la formación integral (espiritual, doctrinal y humana) de los miembros del grupo para su adecuado crecimiento.
  </ion-card-content>
</ion-card>
<!-- Acogida -->
<ion-card  color="danger">
  <ion-card-header>
    <ion-card-title>Servicio de Acogida</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Son hermanos que se encargan de acoger a todos los miembros del grupo haciendoles sentir como en casa.
  </ion-card-content>
</ion-card>
<!-- Liturgia -->
<ion-card  color="danger">
  <ion-card-header>
    <ion-card-title>Servicio de Liturgia</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Son hermanos llamados a velar por la organizacion y cumplimiento de los servicios que tenemos en los actos liturgicos de la capilla. La liturgia es servicio y participacion en la obra de Dios
  </ion-card-content>
</ion-card>
<!-- Musica -->
<ion-card  color="danger">
  <ion-card-header>
    <ion-card-title>Servicio de Música</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Son hermanos llamados a ministrar la música, preparando los coazones de los hermanos al encuentro con el señor y a la alabanza.
  </ion-card-content>
</ion-card>
<ion-card color="warning">
  <ion-card-content>
    Las ofrendas al grupo se pude realizar en la siguiente cuenta <br> <strong>{{ emanuel.cuenta }}</strong><br> a nombre de nuestra hermana <br> 
    <strong>{{ emanuel.caja }}</strong> .
  </ion-card-content>
</ion-card>
</ion-content>
