<app-header titulo="Nuestra comunidad"></app-header>

<ion-content>
  <div class="imagen-header" style="background-image: url('../assets/images/header-emanuel.jpg')"></div>
<ion-card>
  <ion-card-content>
    El grupo de oracion Emanuel pertenece a la capilla San Juan Bautista ubicada en San Juan de Lurigancho
  </ion-card-content>
</ion-card>
<app-slider [imagenes]="capilla"></app-slider>
<ion-card>
  <ion-card-content>
    La capilla San Juan Bautista, pertenece a la Parroquia San Benito
  </ion-card-content>
</ion-card>
<app-slider [imagenes]="parroquia"></app-slider>


</ion-content>
